<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>
<body>
  
 <div id="app" align="center" ><h4>Расчет дохода</h4>

  Начисленная зарплата(грн):<input type="number" v-model="x"><br>
  <table border="1">
 <!--<tr>
    <td>Ячейка 3</td>
    <td>Ячейка 4</td>
  </tr>
  <tr>
    <td>Ячейка 3</td>
    <td>Ячейка 4</td>
  </tr>
  <tr>
    <td>Ячейка 3</td>
    <td>Ячейка 4</td>
  </tr>
   -->
   <tr>
    <td>Доход</td>
    <td>  <input type="number" v-model="x"></td>
  </tr>
  <tr>
    <td>Налог</td>
    <td>  <p>{{nal(x)}}<p></td>
  </tr>
  <tr>
    <td>На руки</td>
    <td>  <p>{{x-nal(x)}}<p></td>
  </tr>
  </table>
 
 </div>

		
 <script>
   let app = new Vue({
      el: '#app',
      data: {
        x : 0,
      },
      methods: {
        nal: function(n) {
          let result = 0;
           
		   result = n/100*13
          
          return result;
        }
      }
    })
	
  </script>
  
</body>
</html>